{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% block title %}
      <title>Form Creator</title>
    {% endblock title %}

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

    {% block stylesheets %}{% endblock stylesheets %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="container">
      {% block body %}{% endblock body %}
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    {% block scripts %}{% endblock scripts %}

  </body>
</html>
